.detail-product-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}
#buynow{
    color: #ff4c4c;
    font-size: 17.5px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    padding: 0.7em 2em;
}

.wishlist_wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
}

.wishlist_icon{
    font-size: 30px;
}

.checked{
    color: yellow; 
}

.detail-info{
    display: flex;
    justify-content: space-between;
}

.bid-footer{
    display: flex;
    margin-top: 30px;
    align-content: center;
    justify-content: space-between;
}

.same-seller-wrapper{
    padding: 10px;
    text-align: center;
}
.same-seller-wrapper .same-seller-item .item-img img{
    width: 100px;
    height: 100px;
}
.same-seller-wrapper .same-seller-item .item-img{
    width: 40%;
}
.same-seller-wrapper .same-seller-item .item-info{
    width: 60%;
}
.same-seller-wrapper .same-seller-item{
    display: flex;
}