<app-header></app-header>
<div *ngIf="product" class="container py-md-3 detail-product-wrapper">
    <!-- top Products -->
    <div class="row">
        <!-- product right -->
        <div class="left-ads-display col-lg-8">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <!-- <img src="/assets/images/{{product.image}}" class="img-fluid" alt=""> -->
                    <img src="https://auctionbackend.herokuapp.com/storage/{{product.image}}" height="500px" width="300px" alt="" />
                </div>
                <div class="desc1-right col-md-6 pl-lg-4">
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <h2>{{product.name}}</h2>
                        <div (click)="wishList()" class="fa fa-star wishlist_icon {{checklist==1 ? 'checked' : ''}}"></div>
                    </div>
                    <app-countdown-timer [product]='product'></app-countdown-timer>
                    <div class="detail-info">
                        <p style="font-size:15px; color:black">Seller :</p>
                        <p style="font-size:15px; ">{{seller}}</p>
                    </div>
                    <div class="detail-info">
                        <p style="font-size:15px; color:black">Bidder :</p>
                        <p style="font-size:15px">{{bidder}}</p>
                    </div>
                    <div *ngIf="product.status==1">
                        <div class="detail-info">
                            <p style="font-size:15px; color:black">Now :</p>
                            <p style="font-size:15px; color:purple">{{formatNumber(product.current_price)}} đ</p>
                        </div>
                        <div class="detail-info">
                            <p style="font-size:15px; color:black">Step :</p>
                            <p style="font-size:15px; ">{{formatNumber(product.step_price)}} đ</p>
                        </div>
                        <div class="detail-info">
                            <p style="font-size:15px; color:red">{{formatNumber(product.last_price)}} đ</p>
                            <button data-toggle="modal" data-target="#buyNowModal" (click)="checkBuy()" id="buynow">BUYNOW</button>
                        </div>
                        <div class="available mt-3">
                            <div class="bid-footer">
                                <div>
                                    <input type="number" style="height: 100%" name="txtBid" [(ngModel)]="currentPrice"
                                        placeholder="Enter price to bid" required="">
                                </div>
                                <div>
                                    <button data-toggle="modal" data-target="#myModal" (click)="bid()" id="buynow">BID</button>
                                </div>
                            </div>
                            <!-- <div><span style="color:red">{{msg}}</span></div> -->

                            <p style="font-size:15px; color:black">{{product.description}}</p>
                        </div>

                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <h4>Share Product :</h4>
                            <ul class="w3layouts_social_list list-unstyled">
                                <li>
                                    <a href="#" class="w3pvt_facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#" class="w3pvt_twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_dribble">
                                        <span class="fa fa-dribbble"></span>
                                    </a>
                                </li>
                                <li class="ml-2">
                                    <a href="#" class="w3pvt_google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-ads-display col-lg-4">
            <div class="row">
                <div class="same-seller-wrapper">
                    <h2><b>Relative Product</b></h2>

                    <div *ngFor="let product of relativeProduct" class="same-seller-item">

                        <div class="item-img">

                            <a href="detail/{{product.id_product}}"> <img src="https://auctionbackend.herokuapp.com/storage/{{product.image}}"alt=""></a>
                        </div>
                        <div class="item-info">
                            <p style="color:black">{{product.name}}</p>
                            <p style="color:black">Current Price: <span style="color:purple">{{formatNumber(product.current_price)}}
                                    đ</span> </p>
                            <p style="color:black">Buy Now: <span style="color:red">{{formatNumber(product.last_price)}}
                                    đ</span></p>
                        </div>

                    </div>


                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="container">




    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="buy==true" (click)='buyNow()'>Buynow</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="check==true" (click)='accept()'>Accept</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="buyNowModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>{{msgBuy}}</p>
                </div>
                <div class="modal-footer">
                    <button *ngIf="msgBuy=='Do you decide to buy it?'" type="button" class="btn btn-default"
                        data-dismiss="modal" (click)='buyNow()'>Buynow</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>