.detail-product-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}
#buynow{
    color: #ff4c4c;
    font-size: 17.5px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    padding: 0.7em 2em;
}