<app-header></app-header>
<section class="hand-crafted py-5">
  <div class="container">
      <div class="inner-sec py-md-5 px-lg-5">
          <h3 class="tittle text-center"><span class="sub-tittle">About.</span> Welcome To Auction Website</h3>
          <p class="mb-4 text-center px-lg-4"> Online auction is a relatively unfamiliar phrase for Vietnamese people, because not everyone has used this form. So what is online auction? In other words, we can understand it as a transaction but there are countless buyers, giving a price for an item to whom is the highest price, they will win that item. This form of transaction usually occurs only at events, large centers, or museums to trade high-value items, but not really spacious to everyone.
            It is for this reason that this web application was created to help people know how to bid and create an online auction playground in Vietnam. Everyone when participating in the auction is required to create a personal account. All user information is kept confidential by us, but it is verified to ensure that all information is true and not vague.
            But why do we choose to design on web application? Because currently the language used for creating web applications has greatly supported from tools and environments to libraries ... Helping to create applications is easily implemented and does not take too much time. Besides, the Internet is an indispensable part of the current technology life and thanks to the number of visitors, it also significantly affects the existence of websites and organizations that make this application. So choosing to build on the web platform is suitable for the users we want to target.
            This application is an environment that allows users to offer products they want to sell (auction items) to buyers (bidders) that will bid to get the item. will know how to bid online, and can find what you want with cheaper prices in the market.</p>
      </div>
  </div>
</section>
<app-footer></app-footer>